---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div>
		<h1>Welcome to <strong>room3a</strong></h1>
	</div>
	<style>
		div {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	</style>
</Layout>
