---
import "../styles/room.css";

import Layout from "../layouts/Layout.astro";
import Members from "../components/room/Members.astro";
import Stream from "../components/room/Stream.astro";
import Messages from "../components/room/Messages.astro";
---

<Layout title="Room" pathname="/room">
  <main class="container">
    <div id="room__container">
      <Members />
      <Stream />
      <Messages />
    </div>
  </main>
  <script src="../scripts/room.ts"></script>
  <script src="../scripts/room_rtc.ts"></script>
</Layout>
