---
import "../styles/room.css";

import Layout from "../layouts/Layout.astro";
import Members from "../components/room/Members.astro";
import Stream from "../components/room/Stream.astro";
import Messages from "../components/room/Messages.astro";
---

<Layout title="Room" pathname="/room">
  <main class="container">
    <div id="room__container">
      <Members />
      <Stream />
      <Messages />
    </div>
  </main>
  <script type="text/javascript" src="src/lib/AgoraRTC_N-4.17.0.js"></script>
  <script type="text/javascript" src="src/lib/room_rtc.js"></script>
  <script>
    let messagesContainer = document.getElementById("messages");
    messagesContainer.scrollTop = messagesContainer.scrollHeight;

    const memberContainer = document.getElementById("members__container");
    const memberButton = document.getElementById("members__button");
    let activeMemberContainer = false;
    memberButton.addEventListener("click", () => {
      memberContainer.style.display = activeMemberContainer ? "none" : "block";
      activeMemberContainer = !activeMemberContainer;
    });

    const chatContainer = document.getElementById("messages__container");
    const chatButton = document.getElementById("chat__button");
    let activeChatContainer = false;
    chatButton.addEventListener("click", () => {
      chatContainer.style.display = activeChatContainer ? "none" : "block";
      activeChatContainer = !activeChatContainer;
    });
  </script>
</Layout>
