---
---
<div id="stream__box">
    
</div>
<div id="streams__container">
    <div class="video__container" id="user-container-1">
        <h1>1</h1>
    </div>

    <div class="video__container" id="user-container-2">
        <h1>2</h1>
    </div>

    <div class="video__container" id="user-container-3">
        <h1>3</h1>
    </div>

    <div class="video__container" id="user-container-4">
        <h1>4</h1>
    </div>
</div>